daemon off;

events {}

http {
  gzip on;
  gzip_types application/javascript application/json text/css;
  include mime.types;
  server_tokens off;

  server {
    return {{env "CODERIETY_WEBSITE_URL"}}$request_uri;
  }

  server {
    server_name {{index (env "CODERIETY_WEBSITE_URL" | split "://") 1}};
    root /code/public;

    location / {
      add_header Cache-Control 'no-cache, public';
      try_files $uri $uri/ =404;
    }
  }
}
